
         <li class="fa fa-thumbs-up" onclick="unlikepost('<%=post._id%>')" style="font-size:30px; color:blue"></li>
        <li><strong onclick="showlike('<%=post._id%>')" data-toggle="modal" data-target="#likeBox"><%=post.likes.length%> people
          like this</strong></li>