
   
  <ol class="list-group">
      <% comments.forEach((comment)=>{%>
        <li class = "list-group-item">
            <span><%=comment.username%></span>
            <span class = "badge"><%=comment.date%></span> 
            <%if(userID == comment.userID){%>
              <a >delete</a>
              <a >edit</a>
            <%}%>
            <br/>
          <span><%=comment.text%></span>
         
        </li>
      <% }); %>
  </ol>
  