
   
  <ol class="list-group">
      <% comments.forEach((comment)=>{%>
        <li class = "list-group-item">
            <span><%=comment.username%></span>
            <span class = "badge"><%=comment.date%></span> 
            <%if(userID == comment.userID){%>
              <a >delete</a>
              <a >edit</a>
            <%}%>
            <br/>
          <span><%=comment.text%></span>
          <a>reply</a>
            <div class="panel panel-default">
              <div class="panel panel-body">
                  <ol class="list-group">
                      <li class="list-group-item">wow! you are</li>
                  </ol>
              </div>
              
            </div>
        </li>
      <% }); %>
  </ol>
  