

    <li  class="fa fa-thumbs-up" onclick="likepost('<%=post._id%>')" style="font-size:30px;color:black"></li>
    <li><strong onclick="showlike('<%=post._id%>')"  data-target="#likeBox"><%=post.likes.length%> people
      like this</strong>
</li>
  