<!DOCTYPE html>
<html>
  <head>
    <title>login</title>

    <script></script>
  </head>
  <body>
    <a href = "/oauth/facebook"><button>login with facebook</button></a><br/>
    <a href = "/login"><button>login</button></a><br/>
    <a href = "/signup"><button>sign up </button></a><br/>
  </body>
</html>