<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/bootstrap-social.css">
    <script></script>
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">picstick</a>
          </div>
      
         </div>
      </nav>
    </div>
    <div class="container">
      <br/><br/><br/>
      <a href="/login" class="btn btn-default">login</a><br />
      <a href="/signup" class="btn btn-default">sign up </a><br />
      <a href="/oauth/facebook" class="btn  btn-social btn-facebook"><span class="fa fa-facebook"></span>login with
        facebook</a>
    </div>
    
  </body>
</html>