
   
  <ol class="list-group">
      <% likes.forEach((like)=>{%>
        <li class = "list-group-item">
          <span><%=like.ownername%></span><span><%=like.date%></span>
        </li>
      <% }); %>
  </ol>
  