<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
  </head>
  <body>
  <div class="container"><% if(message.length > 0){ %>
    <div style="color : red;"><%= message %></div>
    <% } %>
    <div class="panel panel-default">
      <div calss="panel-body">
        <form action = "/login" method = "post">
          <div>
              <label>Email : </label> <input type = "email" name = "email"/>
          </div>
          <div>
              <label>Password : </label> <input type = "password" name = "password"/>
          </div>
          <button type = "submit" >Login</button>
          <p>Need an account?<a href = "/signup">Signup</a>
          <p>Or go<a href = "/">home</a>.</p>
        </form>
      </div>
   
    </div>
    </div>
     </body>
</html>