<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="panel panel-default">
        <div calss="panel-body">
          <% if (message.length > 0) { %>
          <div style="color:red;"><%= message %></div>
          <% } %>
          <form action="/signup" method="post">
            <div>
              <label>username</label>
              <input type="text" minlength="3" name="email">
            </div>
            <div>
              <label>Password</label>
              <input type="password" minlength="3" name="password">
            </div>
            <button type="submit">Signup</button>
          </form>
          <p>Already have an account? <a href="/login">Login</a></p>
          <p>Or go <a href="/">home</a>.</p>

        </div>
    
      </div>
    </div>

    
  </body>
</html>